<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>

<div class="col-sm-4 col-sm-offset-4">

    <div class="tab-content">
        <form action="/users/login" method="post">
        <div class="tab-pane active" id="Customer">
            <div class="form-group">
                <label for="email">Your Email:</label> <input type="email" class="form-control"
                                                                  id = "email" name="email" placeholder="Enter email" size="30" style="width: 425px;" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label> <input type="password" class="form-control"
                                                          name="password" placeholder="Enter password" size="30" style="width: 425px;"
                                                          required>
            </div>
            <div>
                <button style="width: 425px; background-color: #8FC12B; background-repeat: no-repeat; background-image: none; box-shadow: none; font-size: 16px; font-weight: normal; padding: 12px 16px; border: 0; border-radius: 4px; color: black;">
                    Sign In
                </button>

                <a href="/users/google" style="width: 425px; background-color: #c10d02; background-repeat: no-repeat; background-image: none; box-shadow: none; font-size: 16px; font-weight: normal; padding: 12px 16px; border: 0; border-radius: 4px; color: black;">
                   Google
                </a>

                <a href="/users/facebook" style="width: 425px; background-color: #3f7ec1; background-repeat: no-repeat; background-image: none; box-shadow: none; font-size: 16px; font-weight: normal; padding: 12px 16px; border: 0; border-radius: 4px; color: black;">
                    Facebook
                </a>
            </div>

        </div>
        </form>

    </div>
</div>
</body>